<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <xacro:macro name="lbr4_base" params="name">
    <link name="${name}_base_link">
      <visual>
	<origin rpy="0 0 0" xyz="0 0 0"/>
	<geometry>
	  <mesh filename="package://ll4ma_robots_description/meshes/lbr4/base.stl"/>
	</geometry>
      	<material name="LBR4_Grey"/>
      </visual>
      <collision>
	<origin rpy="0 0 0" xyz="0 0 0"/>
	<geometry>
          <mesh filename="package://ll4ma_robots_description/meshes/lbr4/base.stl"/>
	</geometry>
      </collision>
    </link>

    <gazebo reference="${name}_base_link">
      <material>Gazebo/Grey</material>
    </gazebo>
  </xacro:macro>
  
</robot>
