<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="mount_mass" value="0.240"/>
  
  <xacro:include filename="$(find ll4ma_robots_description)/urdf/xacro_macros/inertia_tensors.xacro"/>

  <xacro:macro name="lbr4_mount" params="parent">
    <link name="lbr4_mount">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="${mount_mass}"/>
	<xacro:cylinder_inertia m="${mount_mass}" r="0.045" h="0.015"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://ll4ma_robots_description/meshes/mounts/kuka_mount.stl" />
        </geometry>
        <material name="LBR4_Grey" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://ll4ma_robots_description/meshes/mounts/kuka_mount.stl" />
        </geometry>
      </collision>
    </link>
    
    <joint name="lbr4_mount_joint" type="fixed">
      <origin xyz="0.0 0.0 0.02" rpy="-${M_PI} 0 0" />
      <parent link="${parent}" />
      <child link="lbr4_mount" />
    </joint>
  </xacro:macro>

  <gazebo reference="lbr4_mount">
    <material>Gazebo/Grey</material>
  </gazebo>

</robot>



