<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="urdf_path"    value="$(find ll4ma_robots_description)/urdf"/>

    <!-- [FINGER TIP] -->
    <xacro:include filename="${urdf_path}/biotac/biotac.urdf.xacro"/>
    <xacro:biotac mount_link="index_link_3" parent="index"/>
    <xacro:biotac mount_link="middle_link_3" parent="middle"/>
    <xacro:biotac mount_link="ring_link_3" parent="ring"/>
    <xacro:biotac mount_link="thumb_link_3_offset" parent="thumb"/>

</robot>
